<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>  
  
  <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
  <% if flash[:alert] %><p class="error"><%= flash[:alert] %></p><% end %>
  
  <%= f.input :email %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? %>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  <% end %>  

  <%= f.button :submit, :value => "Sign in" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
