<!DOCTYPE html>
<html>
<head>
    <title>NakedCooks</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
</head>
<body>    
    <div id="container">
        <header>
            <h1>Naked Cooks</h1>
            <small>Let's share our recipes</small>    
            <%= render(:partial => 'pages/links') %>
            <%= render(:partial => "devise/login_form") %>
        </header>
        <section>
            <%= yield %>
        </section>
        <footer>
            Naked Cooks &reg;
            <%= render(:partial => 'pages/links') %>            
        </footer>
    </div>
</body>
</html>
